<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }}</span>
  </div>

  <div class="">

      <div class="container">
          <div class="row matts">
            <div class="col">Player Details</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Player Name</div>
              <div class="col matti">
                <div class="row">Player Name in Full</div>
                <div class="row">
                    <input style="width:100%" placeholder="Player Name in Full"/>
                </div>
              </div>
          </div>
          <div class="row">
                <div class="col-2 mattss">Club Details</div>
              <div class="col matti">
                  <div class="row">Player Registration Number</div>
                  <div class="row">
                    <input style="width:100%"/>
                  </div>
                </div>
                <div class="col matti">
                    <div class="row">Club Name of Player</div>
                    <div class="row">
                      <input style="width:100%"/>
                    </div>
                  </div>
                <div class="col matti">
                    <div class="row">State</div>
                    <div class="row">
                      <input style="width:100%"/>
                    </div>
                </div>
          </div>
          <div class="row">
              <div class="col-2 mattss">League Details</div>
              <div class="col matti">League e.g., Saturday Men, Sunday Junior, ...</div>
              <div class="col matti">Division e.g., Ladies Div 1, Midweek, ...</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Location</div>
              <div class="col matti">Host Club</div>
              <div class="col matti">Suburb/City</div>
              <div class="col matti">State</div>
              <div class="col matti">Postcode</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Teams</div>
              <div class="col matti">Team 1</div>
              <div class="col-1 matti">vs</div>
              <div class="col matti">Team 2</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Location</div>
              <div class="col matti">Location</div>
              <div class="col matti">Location</div>
              <div class="col matti">Location</div>
              <div class="col matti">Location</div>
          </div>
          <div class="row matts">
              <div class="col">Offence Details</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Violation</div>
              <div class="col matti">Violation Type</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Comments regarding the Violation</div>
              <div class="col matti">
                  <textarea style="width:100%" placeholder="Comments"></textarea>
              </div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Match Name</div>
              <div class="col matti">Name of Event i.e., Singles or Doubles</div>
              <div class="col matti">Division e.g., Ladies Div 1, Midweek, ...</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Round & Date of Offence</div>
              <div class="col matti">Round of Tennis League Fixture</div>
              <div class="col matti">Date of Offence</div>
          </div>
          <div class="row">
              <div class="col-2 mattss">Players involved</div>
              <div class="col matti">All Players Involved</div>
          </div>

          <div class="row matts">
              <div class="col">Penalty Details</div>
          </div>
          <div class="row">
                <div class="col-2 mattss">Action Taken By Referee/Match Supervisor</div>
                <div class="col-2 matti">Action Taken</div>
                <div class="col matti">Action Taken Comment</div>
          </div>

          <div class="row matts">
              <div class="col">Referee/Match Supervisor</div>
          </div>
          <div class="row">
                <div class="col-2 mattss">Referee/Match Supervisor</div>
                <div class="col matti">Name of Referee/Match Supervisor</div>
                <div class="col-2 matti">Certification (if applicable)</div>
          </div>
      </div>
    
    <app-doc></app-doc>
  </div>

  <!-- Footer -->
  <footer>
  </footer>

</div>

<router-outlet></router-outlet>
